/* Make App full height and sticky footer */
html, body, #root {
  height: 100%;
  margin: 0;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1; /* Fill available space to push footer down */
}
